@import url('https://fonts.googleapis.com/css2?family=Joan&family=Tauri&display=swap');

:root {
    --primary-color:#395e66;
    --secondary-color: #387d7a;
    --accent1-color:#32936f;
    --accent2-color:#26A96C;

    --heading-font: Tauri, serif;
    --paragraph-font: Joan, serif;

    --nav-background-color: gray;
    --nav-link-color: navy;
    --nav-hover-link-color: blue;
    --nav-hover-background-color: lightgray;
}
main {
    width:800px;   
    margin: 0 auto;
}
body {
    font-family: var(--paragraph-font);
    padding: 20px;
}


h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    opacity: 1;

}

p{ 
    padding: 10px;
    opacity: 1;
}


/* Header styling */

header {
    padding: 20px;
    max-width: 840px;
    height:auto;
    margin: 0 50px;
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;


}
header img {
    margin: 0 0.25rem 0 1rem;
    width: 150px;
    height: auto;
}

nav {
    text-align: right;
}

.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;

}

.navigation li {
    flex: 1 1 100%;
}

.navigation a {
    display: block;
    color: navy;
    padding: 5px;
    text-decoration: none;

}

.navigation a:hover {
    color:tomato;
    font-weight:700;
    text-decoration: underline;
}
/* nav {
    padding: 1 rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration:none;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 20px;
    text-decoration: none;
    color:var(--secondary-color);
}

 
nav a:link {
    color:var(--nav-link-color);
}

nav a:visited {
    color:var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
} */

/* .box {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr
}

.box h2 {
    grid-column: 1/6;
    text-align: center;
}

.box img {
    width: 200px;
    padding: 10px;
    justify-content: space-around;
    height: auto;
    flex-wrap: wrap;
} */

.hero {
    position:relative;
    max-width: 840px;
    border:10px red;
    height:100%;
}

.hero img {
    width:100%;

}

.hero h1{
    position:absolute;
    width: 100%;
    padding:40px 0;
    background:rgb(0, 0, 0, 0.3);
    color:white;
    text-align: center;
    top: 20px;
    max-height: 100%;


}

.hero article {
    position: absolute;
    padding: 10px 10px 10px 10px;
    top:200px;
    margin: 0 50px;
    background: rgba(50, 150, 200, 0.60);
    color:white;

}
.hero article img {
    float:right;
    width:300px;
    height: auto;

}





/* .grid {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
} */
/* 
section {
    grid-column: 1/6;
} */

.history {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}

.history h2 {
    grid-column: 1/4;
    display: flex;
    justify-content: center;
}

.history img {
    max-width: 100%;
}
/* .grid h2 {
    grid-template-columns: 1/6;
} */

/* .adventure {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
} */

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.adventure h2 {
    grid-column: 1/6;
    display: flex;
    justify-content: center;
}

.snapshots {
    display:flex;
    justify-content: space-around;
}
.snapshots img {
    width:100%;
}
.sociallinks img {
    display: block;
    padding:0;
    width: 50px;
    height:auto;
}

 /* footer, body {
    max-width: 840 px;
    margin: 0 auto;
} */