@import url('https://fonts.googleapis.com/css2?family=Joan&family=Tauri&display=swap');

:root {
    --primary-color:#395e66;
    --secondary-color: #387d7a;
    --accent1-color:#32936f;
    --accent2-color:#26A96C;

    --heading-font: Tauri, serif;
    --paragraph-font: Joan, serif;

    --nav-background-color: gray;
    --nav-link-color: navy;
    --nav-hover-link-color: blue;
    --nav-hover-background-color: lightgray;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    margin:0 auto;
}
div.hero {
    position:relative;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position:absolute;
}

article {
    position: absolute;
    background-color: green;
    opacity: 100%;
}