@import url('https://fonts.googleapis.com/css2?family=Joan&family=Tauri&display=swap');


:root {
    --primary-color:#395e66;
    --secondary-color: #387d7a;
    --accent1-color:#32936f;
    --accent2-color:#26A96C;

    --heading-font: Tauri, serif;
    --paragraph-font: Joan, serif;

    --nav-background-color: gray;
    --nav-link-color: navy;
    --nav-hover-link-color: blue;
    --nav-hover-background-color: lightgray;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}


h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);

}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p{ 
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
 
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link {
    color:var(--nav-link-color);
}

nav a:visited {
    color:var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}