*{
  padding:0;
  margin:0;
  box-sizing:border-box}

.homeintro {
    width:100%;
    color: white; 
    background-color: rgba(0, 0, 0, 0.2); 
    padding: 10px; 
  }

.homeintro h1 {
  font-size:26px;
  line-height: 32px;
  color:white;
  font-family:Joan;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 110);
}

.homeintro p, .homeintro a {
  font-size:14px;
  line-height:18px;
  color:white;
  font-family: Joan;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 110);
  text-decoration: none;

}

.grid-home {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
}

.homemain {
  grid-column: 1/4;
  width:100vw;
  background-image: url(wwr/images/go-orange-rafting.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  center;
  display:flex;
  justify-content: center;
  align-items:center;
}

.homemain .homeintro h1 {
  font-size:96px;
  line-height: 106px;
  text-align: center;
}

.homemain p {
  font-size:18px;
  line-height: 25px;
  text-align: center;
  
}

.homemain a {
  margin-top:30px;
  font-size: 18px;
  display:block;
  background-color: blue;
  padding:10px 20px;
  width:fit-content;
}

.homemain p {
  padding-left: 20px;
  Margin: 40px 0;
}

.homemain .homeintro{
  position:relative;
  text-align: center;
  padding-bottom: 8vh;

}

.home-body {
  width: 840px;
  text-align: center;
  display:grid;
  padding:50px;
  grid-template-columns: repeat(3, 1fr);
  gap:1rem;

}

.home-body h2, .home-body p{
  grid-column: 1/4;
  text-align: center;
  padding:10px 0;
}

.grid-home .home-body .home-options {
  grid-column:1/4;
  display:flex;
  padding:25px;
  gap:2rem;

}

.home-options img {
  width:100%;
  border-radius: 5px;
}
.testimonials {
  grid-column:1/4;
  max-width: 840px;
  display:flex;
  gap:1rem;
}
.testimonials img {
  width:75%;
  border-radius: 50px;
}
/* ----DO NOT ADD TO RAFTING STYKES */
.homeintro .button {
  background-color: navy;
  color: white;
  padding: 1rem;
  border: 1px solid #2859c3;
  border-radius: 10px;
  position:absolute;
  top:300px;
  left:50%;
  transform: translateX(-50%);
}

.home-options {
  display:flex;
  
}
.button:hover {
  background-color: var(--secondary-color);
}

.home-options a {
  text-decoration: none;
  font-size: 25px;
}

.home-options a:hover {
  color: var(--secondary-color);
}

.home-newsletter {
  grid-column: 1/4;
  border: 1px solid rgb(0, 0, 0, 0.2);
  background-color: #f0f0f0;
  border-radius: 5px;
}

.newsletter-subscribe {
  display:flex;
  justify-content: center;
  gap:1rem;
  padding:10px;

  
}

.newsletter-subscribe input[type="email"]{
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  padding:5px;
}

.newsletter-subscribe button {
  background-color: navy;
  color:white;
  border-radius:.5rem;
}

button:hover {
    background-color: var(--secondary-color);
}